<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayani</title>
    {{ content_for_header }}
    {% style %}
    :root{
      --page-width: {{ settings.page_width }}px;

    }
  {% endstyle %}
  <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
</head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
  </body>
</html>