<div class="announcement-bar">
  <p class="announcement-text">
    {{ section.settings.text }}
  </p>
</div>

<style>
  .announcement-bar {
    height: 25px;
    background-color: var(--color-beige);
    width: 100%;
    display: grid;
    place-content: center;
  }
  .announcement-text {
    display: none;
  }

  @media (min-width: 800px) {
    .announcement-bar {
      background-color: var(--color-beige);
      height: 50px;
      width: 100%;
      display: grid;
      place-content: center;
    }

    .announcement-text {
      color: var(--color-light);
      text-transform: uppercase;
    }

    .announcement-text {
      display: block;
    }
  }
</style>

{% schema %}
{
  "name": "Announcement-bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Tax free - free shipping within norway / worldwide shipping",
      "label": "Announcement Bar"
    }
  ]
}
{% endschema %}
